@media (max-width: 768px) {
    nav ul li {
        display: none;
        width: 100%;
    }

    .menu-icon { /* Moved outside of the ul */
        display: block;
        text-align: center; /* Center the icon */
    }

    nav ul.responsive {
        display: block;
    }

    nav ul.responsive li {
        display: block;
        text-align: left;
    }

    .dropdown {
        position: static;
        display: none;
    }

    nav ul.responsive li:hover .dropdown {
        display: block;
    }
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C6E4FF; /* Light blue background */
}

header {
    background-color: #77CBFF; /* Brighter blue header */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333; /* Dark gray text color */
}

nav ul li a:hover {
    background-color: #C6E4FF; /* Light blue hover background */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #C6E4FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown li a:hover {
    background-color: #C6E4FF;
}

main {
    padding: 20px;
    margin-left: 15%;    
    margin-right: 15%;    
    margin-bottom: 50px;
}

footer {
    background-color: #77CBFF; /* Brighter blue footer */
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Fixed footer */
    bottom: 0;
    width: 100%;
}

/* Responsive Menu Icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

.header-images {
    height: 300px; /* Consistent height */
    background-color: #C6E4FF;
    text-align: center;
    overflow: hidden; /* Keep it to clip any potential overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    border: #333 solid 1px;
    padding: 10px 0px;
}

.slideshow-container {
    position: relative;
    width: 100%; /* Take full width */
    height: 100%; /* Take full height */
}

.mySlides {
    width: 100%;
    height: 100%;
    display: none;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center image */
    justify-content: center; /* Horizontally center image */
}

.mySlides img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure full image is visible */
}